/**
 * G O T O    T O P    B U T T O N
 * ----------------------------------------------------------------------------
 */

#goTop {
  position:fixed;
  right: 25px; bottom: 25px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .5);
  text-indent:-9999px;
  display: none;
  outline: none !important;
  z-index: 999;
  span {
    position:absolute;
    top: 50%; left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0; width: 0;
    border: 8px solid transparent;
    border-bottom-color:#ffffff;
  }
  :hover {
    /*background-color:#e74c3c;*/
    opacity: 1;
  }
}

@media (max-width: 767px) {
  body {
    /*border: 10px solid red;*/
  }
  
/*  #main {
    margin-top: 140px;
    padding-bottom: 40px;
  }
  .home #main {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-template-default {
    .home-section {
      padding: 0;
      background-color: #fff !important;
    }
  }*/
  
  
  
  #goTop {
    right: 15px; bottom: 15px;
    width: 32px; height: 32px;
    span {
      position:absolute;
      top: 50%; left: 50%;
      margin-left: -6px;
      margin-top: -9px;
      height: 0; width: 0;
      border: 6px solid transparent;
      border-bottom-color:#ffffff;
    }
    :hover {
      opacity : 1;
    }
  }
}
